<h1> Here's your recipe! </h1>
    <h2> <%= @recipe.name %> </h2>
        <h3> Ingredients: </h3>
        <ul>
            <% @recipe.ingredients.each do |ingredient| %>
                <li> <%= link_to ingredient.name, ingredient_path(ingredient.id) %> </li>
            <% end %>
        </ul>
<%= link_to "Go back to recipes", recipes_path %>
<%= button_to "Delete this recipe", recipe_path(@recipe.id), method: :delete, data: {confirm: "Are you sure?"} %>

